/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
# Ignore vendor, but keep CrudBooster CBController patches trackable.
/vendor/*
!/vendor/crocodicstudio/
/vendor/crocodicstudio/*
!/vendor/crocodicstudio/crudbooster/
/vendor/crocodicstudio/crudbooster/*
!/vendor/crocodicstudio/crudbooster/src/
/vendor/crocodicstudio/crudbooster/src/*
!/vendor/crocodicstudio/crudbooster/src/controllers/
/vendor/crocodicstudio/crudbooster/src/controllers/*
!/vendor/crocodicstudio/crudbooster/src/controllers/CBController.php
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/docker
/storage/fonts-cache/
/storage/fonts/
/storage
.DS_Store
/vendor-old/
/cert/*.json
*.sql
*.lnk
venstore.zip
