/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
# Track crudbooster changes
!vendor/crocodicstudio/crudbooster/
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/docker
/storage/fonts-cache/
/storage/fonts/
/storage
.DS_Store
/vendor-old/
/cert/*.json
*.sql
*.lnk
venstore.zip
